*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}
body{
	font-size: 1em;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://bit.ly/3yi2gaI);
	background-size: cover;
	font-family: poppins;
	background-position: top;
}

/*End of global*/


/*Start*/
.whole-container{
	width:100%;
	padding:2em;
	position: relative;
}

header{
	background-color: black;
	padding-bottom: 1em;
}
.logo-box{
	float: left;
	margin-top:-0.27em;

}
.logo{
	width: 3em;

}
.ul-container{
	float: right;
	top:-0.2em;
}
ul li a{
	text-decoration: none;
	color:white;
	font-size: 0.8em;
	margin:-3em;
	padding: 0.8em;
	border-radius: 1em;
	border-radius: 1em;
	cursor:pointer;
	margin: 0 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
ul li{
	display: inline;
	border-radius: 1em;
	list-style: none;	
	margin-right: -0.4em;
}
ul a:link,:visited{
	display: inline;
	margin: 0 1em;
	list-style: none;
	font-size: 0.8em;
}
ul a:hover{
	box-shadow:0 0.0613em 0.62em rgba(255, 255, 255, 0.5);
	transform:translateY(-0.1857rem);

}
ul a:active{
	transform:translateY(-0.0636);
	box-shadow: 0 0.1236em 1.25em rgba(255, 255, 255, 0.5);
}

/*End of Header*/

.content-container{
	padding-bottom: 12.3em;
}
.top-content{
text-align: center;
margin-top: 112px;

}
.content-container h1{
	color: #ffffff;
	position: relative;
	font-size: 1.4rem ;
	text-transform: uppercase;
	letter-spacing: 0.11em;
	padding-bottom: 0.6em;
}
.top-content p{
	color:#b7ad5a;
	font-size: 0.7rem;	
	letter-spacing: 0.18em;
	word-spacing: 0.11em;
	font-weight: 500;
}

/*End of Section*/

footer{
	background-color: black;
	padding: 0 2em;
	color:#ffffff;
	position: absolute;
	background:rgba(0, 0, 0, 0.5);
}
.footer-image{
	width:3em;
	margin-bottom: 0.3em;
}
.footer-paragraph{
	font-size: 0.61rem;
	color: #d0d2dc;
	margin-bottom: 0.2em;
}
.footer-content{
	padding:1.8em 1em;
	border-right: 2px solid #ffffff;
	float:left;
	width:25%;
	
}

.footer-content button{
	font-size: 0.7rem;
	background-color: #b7ad5a;
	color:#ffffff;
	border-radius: 0.7em;
	border: none;
	outline:none;
	padding:0.7em 0.6em;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
}
.footer-content button:link, :visited{
	
	background-color: #b7ad5a;
	color:#ffffff;
	border-radius: 0.7em;
	border: none;
	outline:none;
	cursor: pointer;
}
.footer-content button:hover{
	transform:translateY(-0.1857rem);
	box-shadow:  0 0.0613em 0.62em rgba(255, 255, 255, 0.5);
	-webkit-transform:translateY(-0.1857rem);
	-moz-transform:translateY(-0.1857rem);
	-ms-transform:translateY(-0.1857rem);
	-o-transform:translateY(-0.1857rem);
}
.footer-content button:active{
	transform:translateY(-0.0636);
	box-shadow: 0 0.1236em 1.25em rgba(255, 255, 255, 0.5);
}
h2{
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: 600;
	padding-bottom: 1em;
	letter-spacing: 0.022rem;
}
.footer-content-four{
	border-right: none;
}
/*End of Footer*/

/*Media queries for homepage*/

@media only screen and (max-width: 900px){
	:root{
		font-size: 10vh+0.9em;
	}
	body{
		background-image: (rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://bit.ly/3yi2gaI);
		background-size: cover;
		font-family: poppins;
		background-position: top;
		background-color: none;
	}
	
	.top-content{
	padding:1em;
	}
/* 	.head-section{
	background-image: (rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://bit.ly/3yi2gaI);
	background-size: cover;
	font-family: poppins;
	background-position: top;
	} */
	.logo-box,.ul-container{
		width:100%;
		float:none;
		text-align: center;
		padding-bottom: 8px;

	}
	.logo-box, .ul-container li{
		padding: 0;
		font-size:0.7rem;
	}
	footer{
		text-align: center;
		background-color: black;
		padding: 2em 2em;
	}
	.footer-image{
		margin-bottom: 0.7em;
	}
	.footer-content{
		width:100%;
		border:none;
		border-bottom: solid white 2px;
	}
	.footer-content h2{
		font-size: 1.2rem;
		letter-spacing: 0.112rem;
		word-spacing: 0.122rem;
	}
	.footer-content p{
		font-size: 0.9rem;
	}
	.footer-content button{
		font-size: 0.7rem;
		background-color: #b7ad5a;
		color:#ffffff;
		border-radius: 0.7em;
		border: none;
		outline:none;
		padding:0.7em 1em;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 1.5em;
	}
	.footer-paragraph{
		width:80%;
		margin:auto;
		padding-bottom: 0.7em;
	}
	.footer-content-four{
		border:none;
	}
}

@media only screen and (max-width: 400px){
	

}
/*Finished homepage of an ongoing website, these codes line-up are a bit defective, changes will be made soon*/
