*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}
body{
	font-size: 1em;
     background-color: #fff;
	font-family: poppins;
}

/*End of global*/


/*Start*/
.whole-container{
	width:100%;
	padding:2em;
	position: relative;
}

header{
	background-color: black;
	padding-bottom: 1em;
}
.logo-box{
	float: left;
	margin-top:-0.47em;

}
.logo{
	width: 3em;

}
ul li a{
	text-decoration: none;
	color:white;
	font-size: 0.8em;
	margin:-3em;
	padding: 0.8em;
	border-radius: 1em;
	border-radius: 1em;
	cursor:pointer;
	margin: 0 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
ul li{
	display: inline;
	border-radius: 1em;
	list-style: none;	

	float:right;
}
ul a:link,:visited{
	display: inline;
	margin: 0 1em;
	list-style: none;
	font-size: 0.8em;
}
ul a:hover{
	box-shadow:0 0.0613em 0.62em rgba(255, 255, 255, 0.5);
	transform:translateY(-0.1857rem);

}
ul a:active{
	transform:translateY(-0.0636);
	box-shadow: 0 0.1236em 1.25em rgba(255, 255, 255, 0.5);
}
/* end of header */
.overall-gallery-container{
	margin:0 2em;
}
.gallery-container{
	width:25%;
	float: left;
	padding:0 0.6em;
	margin-top: 2em;
}
.picture-box img{
	width: 100%;
	height: 15em;
}
.picture-box{
	border: 1px solid black;
	width: 97%;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.picture-description{
	color:black;
	text-align: center;
	font-size: 0.8rem;
	padding:0.8em;
}

/* media query */

@media only screen and (max-width:50em){
	.gallery-container{
		width: 50%;
		margin: 0.6em 0;
	}
	.logo-box,.ul-container{
		width:100%;
		float:none;
		text-align: center;
		padding-bottom: 10px;
		padding-top: 5px;
	}
	.logo-box, .ul-container li{
		padding: 0;
		font-size:0.9rem;
	}
	li+li{
		margin-left:-1em;
	}
}

@media only screen and (max-width:33em){
	.gallery-container{
		width: 90%;
		margin: 0.6em;
		margin-left:1.4em;
	}
}
@media only screen and (max-width:20em){
	li+li{
		margin-left:-1em;
	}
	li{
		font-size: 0.5em;
	}
}